.row
  .col-md-10.col-md-offset-1
    .card
      .card-block
        %h3.card-title
          All Shops
    .card-group
    - @shops.each do |s|
      .card
        .row
          .col-md-5
            %img.card-img-top{:alt => "Card image cap", src: s.header_image.url || "/assets/placeholder_318x180.png"}/
          .col-md-4
            .card-block
              %h4.card-title= s.name
              %p.card-text= truncate(s.description, length: 75)
          .col-md-3
            .card-block
              .btn-group{:role => "group"}
                = link_to shop_path(s), class: 'btn' do
                  View
  = paginate @shops, :outer_window => 3
