.row
  .col-md-10.col-md-offset-1
    .card
      .card-block
        %h3.card-title
          All Shops
    .card-group
    - @shops.each do |shop|
      .card.col-md-5.col-md-offset-1
        %img.card-img-top{:alt => "Card image cap", "data-src" => "..."}/
        .card-block
          %h4.card-title=shop.name
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          -# = link_to shop_path(s), class: 'btn' do
          -# View
