.row
  .col-md-12
    .card
      #searchMap{ style: "height: 400px;" }

- if @shops.empty?
  There are no shops in that location
- else
  .row
    %h3 Products
    %hr
    - @shops.each do |s|
      - s.products.each do |p|
        .col-md-4
          .card
            %img.card-img-top{:alt => "Card image cap", src: "http://placehold.it/318x180"}/
            .card-block
              %h4.card-title= p.name
              %p.card-text= truncate(p.description, length: 10)
              -# = link_to "Edit", edit_shop_path(s)
              -# = link_to "View", shop_path(s)
              .btn-group{:role => "group"}
                = link_to shop_product_path(s, p), class: 'btn' do
                  View

:javascript
  var locations = #{@shop_locations}

  var map = new google.maps.Map(document.getElementById('searchMap'), {
    zoom: 14,
    center: new google.maps.LatLng(locations[0]["latitude"], locations[0]["longitude"]),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i]["latitude"], locations[i]["longitude"]),
      map: map,
      maxWidth: 200
    });

    var infoWindowContent = '<a href="/shops/ ' + locations[i]["id"] +  '" > ' + locations[i]["name"] + ' </a>'
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(infoWindowContent);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
