.card
  .card-block
    %h3.card-title
      Purchase History
  %ul.list-group.list-group-flush
    - if @purchases.empty?
      %li.list-group-item There is no purchase has been made yet.
    - else
      %li.list-group-item
        .row
          .col-md-3
            %strong Product Name
          .col-md-3
            %strong From Shop
          .col-md-3
            %strong Purchase Date
          .col-md-3
            %strong Purchase Price
      - @purchases.reverse_each do |purchase|
        %li.list-group-item
          .row
            .col-md-3
              = link_to purchase.product.name, shop_product_path(purchase.product.shop, purchase.product)
            .col-md-3
              = link_to purchase.product.shop.name, shop_path(purchase.product.shop)
            .col-md-3
              = purchase.created_at.strftime("%b. %d %Y, %T")
            .col-md-3
              &euro; #{number_with_precision(purchase.price, :precision => 2)}
