%nav.navbar.navbar-light
  .col-md-8.breadcrumb
    %ul.nav.navbar-nav
      - @categories.each do |c|
        %li.nav-item
          = link_to c.title, category_path(c.id), class: 'nav-link categories'
    -# %ol.breadcrumb
    -#   = render_breadcrumbs :tag => :li, :separator => ""
  .col-md-4
    .pull-xs-right.search-view
      = render "shared/search_inline"
