%meta{:charset => "utf-8"}
%meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}

%title Marketplace

%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
%link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}

= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'

= csrf_meta_tags