#top
  .container
    %nav.navbar.navbar-static-top
      %button.navbar-toggler.hidden-sm-up{"aria-controls" => "navbar-header", "data-target" => "#navbar-header", "data-toggle" => "collapse", :type => "button"}
        ☰
      #navbar-header.collapse.navbar-toggleable-xs
        =link_to 'Marketplace', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li.nav-item.active
            =link_to 'Explore Shops', root_path, class: 'nav-link'
          - if current_user
            %li.nav-item.pull-xs-left
              =link_to 'Dashboard', dashboard_path, class: 'nav-link'
            %li.nav-item.pull-xs-right
              =link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
            %li.nav-item.pull-xs-right
              =link_to 'Profile', account_path, class: 'nav-link'
          - else
            %li.nav-item.pull-xs-right
              =link_to 'Join', new_user_registration_path, class: 'nav-link'
            %li.nav-item.pull-xs-right
              =link_to 'Login', new_user_session_path, class: 'nav-link'
          %li.nav-item.pull-xs-left
            = render "shared/search_inline"

#heading
  .container
    Hello
    = @latitude
