
.row#left-menu
  .btn-group-vertical{"aria-label" => "Button group with nested dropdown", :role => "group"}
    %button.btn.btn-secondary{:type => "button"} About
    %button.btn.btn-secondary{:type => "button"} Whatever
    %button.btn.btn-secondary{:type => "button"} Home
    %button.btn.btn-secondary{:type => "button"} Terms
    %button.btn.btn-secondary{:type => "button"} Dashboard
    .btn-group{:role => "group"}
      %button#btnGroupDrop1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Dropdown
      .dropdown-menu{"aria-labelledby" => "btnGroupDrop1"}
        %a.dropdown-item{:href => "#"} Dropdown link
        %a.dropdown-item{:href => "#"} Dropdown link
    %button.btn.btn-secondary{:type => "button"} Purchases
