= render 'shared/shop_show/shop_cover_photo', shop: @shops
= render 'shared/shop_show/shop_product_card', product: @products
= render 'shared/shop_show/shop_location_card', shop: @shop
= render 'shared/shop_show/shop_description_card', shop: @shop
