.row.card#right-menu-box
  - shop.each do |s|
    .col-md-6
      .card
        %img.card-img-top{:alt => "Card image cap", src: "http://placehold.it/318x180"}/
        .card-block
          %h4.card-title= s.name
          %p.card-text=s.description
          = link_to "Edit", edit_shop_path(s)
          = link_to "View", shop_path(s)
