.row#right-menu
  .card.card-inverse{:style => "background-color: #333; border-color: #333;"}
    .card-block.row
      %h3.card-title.col-md-9 Your Shops
      %a.btn.btn-primary.col-md-3{:href => "#"} Create New Shop
