.card_section.card.col-md-7
  .card-header#card_header
    %i.fa.fa-camera-retro
    %span.text Photos
  .card-block
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      .carousel-inner{:role => "listbox"}
        .carousel-item.active
          %img{:alt => "First slide", "data-src" => "..."}/
        .carousel-item
          %img{:alt => "Second slide", "data-src" => "..."}/
        .carousel-item
          %img{:alt => "Third slide", "data-src" => "..."}/
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
        %span.icon-prev{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
        %span.icon-next{"aria-hidden" => "true"}
        %span.sr-only Next
