%h1 Welcome to your Dashboard!

= @shop[0].name

#{link_to "Create your Shop", '/shops/new', class: "btn btn-default btn-lg"}
#{link_to "Create your Products", '/products/new', class: "btn btn-default btn-lg"}