.jumbotron.center
	%h1 Welcome to Marketplace Platform
	%p A place for you to buy &amp; sell.
	%p All in one.

	#{link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg"}
	#{link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg"}
