<h1>Welcome to Marketplace Platform</h1>
<p>A place for you to buy & sell.</p>
<p>All in one.</p>

<%= link_to "Log in", '#', class: "btn btn-default btn-lg" %>
<%= link_to "Sign up", '#', class: "btn btn-default btn-lg" %>


