.container
  .col-md-8.col-md-offset-2.text-xs-center
    %h1 Lorem Ipsum is simply dummy text.
    %h5 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

    = link_to 'Explore', shops_path, class: 'btn btn-primary btn-lg'
    = link_to 'Create a Shop', new_shop_path, class: 'btn btn-primary btn-lg'
