#shop_about.card.card-block.col-md-4.col-md-offset-1
  .text-xs-center
    %img.img-circle{:alt => "Profile picture",  src: "http://placehold.it/100x100"}
    %p.about-title Freshi
  .text-xs-center
    .row
      .col-md-3
      .col-md-2
        %i.fa.fa-facebook-square.fa-2x
      .col-md-2
        %i.fa.fa-twitter.fa-2x
      .col-md-2
        %i.fa.fa-instagram.fa-2x
      .col-md-3
