- content_for :header_fluid do

  #shop-cover-photo.container-fluid
    .cover_text
      %h1.display-8=@shop.name
      %p.lead Unit 32 /33, The Chq Building
      %p.lead N Wall Quay, Dublin 1, Ireland
