#shop_location.card.card-block.col-md-4.col-md-offset-1
  %p.text Unit 32 /33, The Chq Building, N Wall Quay, Dublin 1, Ireland
  %div
    %i.fa.fa-phone
    %span.text-block (480) 917-8700
  %div
    %i.fa.fa-link.inline
    %span.text-block.inline www.sprintfire.com
