#shop_location.card.card-block.col-md-4.col-md-offset-1
  .row#purchases
    .sales.fa.fa-shopping-cart
    %span#sales_count=@shop.total_sales
    %span.sales_text Sales
  %p.text Unit 32 /33, The Chq Building, N Wall Quay, Dublin 1, Ireland
  %div
    %i.fa.fa-phone
    %span.text-block (480) 917-8700
  %div
    %i.fa.fa-link.inline
    %span.text-block.inline www.shop.com
