%html
  %head
    %title Page not found!
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/

  %body#errors_page
    .container-fluid
      %div
        %h1.errors 404
      %div
        %p.errors Oops! Looks like you got lost.
