!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      You have successfully created your shop : #{@shop.name}
    %p
      Visit your shop here:
      %a{href: @url} #{@shop.name}
