$black: #242626
$lighterBlack: #333333

$nprogress-color: $black

$white: #FFFFFF
$semi-white: #FF9495

$light-blue: #31B0D5
$dark-blue: #187CB5

$greyBorder: #E9EAEE
$darkGrey: #717A8F

$blue: #2196F3
$deepBlue: #1976D2
$indigo: #3F51B5
$white: #FFFFFF
$gray: #CCCCCC

//////////////////////////////
/////// LEFT DASHBOARD ////////
//////////////////////////////
$left-menu-text-color: #6B7481
$left-menu-text-hover-color: #5EA4DB
$left-menu-border-color: #E4EAF0
$active-dropdown-background: #F1F4F7
$active-dropdown-text-color: #97A2AB
$active-dropdown-border: #E3E9EF
