.card
  @extend .box-shadow

  .card-header
    background: #7B76CB
    font-weight: bold
    color: #FFFFFF

  .card-block
    color: $black

  .card-footer
    background: #F5F8FD

  .card-header, .card-footer, .card-block
    padding: 15px

.tab-bottom
  border-top-left-radius: 0
  border-top-right-radius: 0
  z-index: -10

#tab-head
  margin-bottom: 0
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  z-index: 10
