.card
  @extend .box-shadow

  .card-header
    background: #7B76CB
    font-weight: bold

  .card-block
    color: $black

  .card-footer
    background: #F5F8FD

  .card-header, .card-footer, .card-block
    padding: 15px