#bottom-footer
  padding: 20px 0
  background-color: white
  border-top: 1px solid $greyBorder
  margin-top: 0

#top-footer
  padding: 20px 0
  background-color: white
  border-top: 1px solid $greyBorder
  margin-top: 50px
