#top
  background: $black
  @extend .brand-gradient
  @extend .menu-box-shadow

  .navbar-brand
    text-transform: uppercase
    margin-right: 20px
    &:hover
      text-decoration: none !important

  .navbar
    padding-left: 0px
    padding-right: 0px

.nav-link, .navbar-brand
  color: $white
  &:hover
    color: lighten($white, 0.5)
    text-decoration: underline

#heading
  background: white

.breadcrumb
  background: white
  padding: 0

#heading .container
  padding-top: 0
  padding-bottom: 0

#heading .breadcrumb
  margin-bottom: 0

nav div ul li .categories
  padding-right: 1.5em

.input-group input
  //border-color: transparent
  border-radius: 0

span.input-group-addon
  padding: 0
  border: 0
  border-radius: 0

  button
    border-radius: 0

#search-button
  color: $white
  &:hover
    color: $lighterBlack

#header_search
  color: $lighterBlack
  width: 20em

.search-view
  padding-top: .75rem
  padding-bottom: .75rem
