#home_body {
	padding-top : 100px;
}

#home_body h1{
	font-size: 50px;
}

.col-md-8 p{
	padding-top: 30px;
    font-size: 25px;
}

.col-md-8 .para{
	padding-top: 30px;
    font-size: 20px;
}

.col-md-4 {
	padding-top : 90px;
	padding-left : 100px;
}

.col-md-4 .row {
	padding-bottom : 0px;
}

.col-md-4 .bt_one {
	padding-left: 70px;
    padding-right: 70px;
}



