#left-menu
  border-radius: 3px

.btn-group-vertical a
  color: #31B0D5
  background-color: white
  border-color: white

.btn-group-vertical .btn-group .dropdown-toggle
  color: #31B0D5
  background-color: white
