.card_section

  height: 500px

  #card_header
    background-color: $white
    color: #717A8F
    border-bottom: 1px solid $greyBorder

    %span
    font-size: 15px

    .text
      margin-left: 10px
