#shop_about
  .text-xs-center
    width: 100%

    p.about-title
      padding-top: 20px
      font-weight: bold


    .about-title
    font-size: 20px
    color: $darkGrey

    div.pull-left
    margin-left: 10px

    span
      margin-left: 10px

    #social-icons
      padding-top: 10px
