.jumbotron
  position: relative
  background: $black url('https://images.unsplash.com/photo-1453831210728-695502f9f795?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=915fd650b7a644e7a7def69a4896801e') center center
  background-size: cover
  overflow: hidden
  width: 100%

  .container
    color: $white
